@font-face {
  font-family: "iconfont"; /* Project id 2193644 */
  src: url('iconfont.woff2?t=1622549232278') format('woff2'),
       url('iconfont.woff?t=1622549232278') format('woff'),
       url('iconfont.ttf?t=1622549232278') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zengjia_circle:before {
  content: "\e681";
}

.icon-jianshao_circle:before {
  content: "\e691";
}

.icon-gouwuche:before {
  content: "\e600";
}

.icon-minus_circle:before {
  content: "\e63e";
}

.icon-add_circle:before {
  content: "\e646";
}

.icon-guanbi1:before {
  content: "\e613";
}

.icon-close:before {
  content: "\e606";
}

.icon-close-no:before {
  content: "\e690";
}

.icon-close-color:before {
  content: "\e692";
}

.icon-guanbi:before {
  content: "\e650";
}

.icon-option:before {
  content: "\e60b";
}

.icon-order:before {
  content: "\e6b2";
}

.icon-arrow-left:before {
  content: "\e67d";
}

.icon-arrow-right:before {
  content: "\e62b";
}

.icon-phone:before {
  content: "\e626";
}

.icon-dingdan:before {
  content: "\e63a";
}

.icon-huiyuan:before {
  content: "\e6b0";
}

.icon-jifen:before {
  content: "\e644";
}

.icon-wode:before {
  content: "\e619";
}

.icon-fuwu:before {
  content: "\e707";
}

.icon-sousuo:before {
  content: "\e67c";
}

.icon-waimai:before {
  content: "\e8c6";
}

.icon-person:before {
  content: "\e871";
}

