doctype html 
<!--[if IE 8]>
<html lang="en" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
head 
  link(rel="stylesheet", href="index.css", type="text/css")

body
  .g-container  
    -for(var i=0;i<50;i++)
      p

</html>