<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9_表单输入绑定 select-dynamic</title>
    <style type='text/css'>
        .demo {
            font-family: sans-serif;
            border: 1px solid #eee;
            border-radius: 2px;
            padding: 20px 30px;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 1em;
            margin-bottom: 40px;
            /* text-align: center; */
            user-select: none;
            overflow-x: auto;
        }
    </style>
</head>

<body>
    <div id="v-model-select-dynamic" class="demo">
        <select v-model="selected">
            <option v-for="option in options" :value="option.value">{{option.text}}</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>


    <script src="../js/vue.js"></script>

    <script type='text/javascript'>
        new Vue({
            el: "#v-model-select-dynamic",
            data() {
                return {
                    selected: 'A',
                    options: [{
                        text: 'One',
                        value: 'A'
                    }, {
                        text: 'Two',
                        value: 'B'
                    }, {
                        text: 'Three',
                        value: 'C'
                    }]
                }
            },
        })
    </script>
</body>

</html>