doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="javascripts/jquery-3.5.1.js")
    script(src="javascripts/jq.js")